/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Default Font Family */
body {
  font-family: 'Inter', sans-serif;
}

/* Font Faces */
@font-face {
  font-family: 'Inter';
  src: url('/house-style-detector/fonts/Inter-Regular.woff') format('woff'),
       url('/house-style-detector/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/house-style-detector/fonts/Inter-Bold.woff') format('woff'),
       url('/house-style-detector/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/house-style-detector/fonts/Inter-Italic.woff') format('woff'),
       url('/house-style-detector/fonts/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('/house-style-detector/fonts/Inter-Light-BETA.woff') format('woff'),
       url('/house-style-detector/fonts/Inter-Light-BETA.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/house-style-detector/fonts/Inter-SemiBold.woff') format('woff'),
       url('/house-style-detector/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/house-style-detector/fonts/Inter-ExtraBold.woff') format('woff'),
       url('/house-style-detector/fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}